<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM 'log4j.dtd'>
<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="console">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.FileAppender" name="file">
        <param name="file" value="/usr/local/clearleap/logs/transfer_sim.log"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.hazelcast">
        <level value="WARN"></level>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>